<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gavin.stuinfomanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.StudentListActivity"
            android:label="学生列表" />
        <activity
            android:name=".Activity.AddStudentActivity"
            android:label="@string/stuInfoDetails" />
        <activity android:name=".Activity.CurrentStudentInfoActivity" />
        <activity android:name=".Activity.UpdateStudentActivity" />
        <activity android:name=".Activity.AddCourseActivity" />
        <activity android:name=".Activity.UpdateCourseActivity" />
        <activity android:name=".Activity.CurrentCourseInfoActivity" />
        <activity android:name=".Activity.CourseListActivity" />
        <activity android:name=".Activity.ChooseCoursesActivity" />
        <activity android:name=".Activity.ChooseStudentsActivity" />
        <activity android:name=".Activity.AdminStudentInfo"></activity>
    </application>

</manifest>
